* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #3c096c;
}
header {
  background-color: #3c096c;
  color: #ff8500;
  text-align: center;
}
section {
  padding: 60px;
}
.Login {
  height: 600px;
  background-size: cover;
  background-position: center;
  background-color: #3c096c;
  position: relative;
}
.login-form {
  background-color: #3c096c;
  padding: 20px;
  width: 500px;
  color: #ff8500;
  position: absolute;
  bottom: 120px;
  right: 140px;
}
.login-form h3 {
  text-align: center;
  font-size: 24px;
  margin: 0;
}
.loign-input {
  border: 1px solid #ff8500;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #ff8500;
  width: 100%;
  margin-bottom: 15px;
}
.login-form button {
  color: #3c096c;
  background-color: #ff8500;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}
footer {
  background-color: #ff8500;
  color: #3c096c;
  text-align: center;
}
