*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	font-family: source-sans-pro;
	background-color: black;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
header {
    background-color: #003791 ;
    color: black;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.battlestats {
    font-family: paladins;
    justify-content: flex-start;
}

.Achievements {
    background-color: black;
    color: #df0024;
    font-family: Arial, Helvetica, sans-serif;
}

.Game-list {
    background-color: black;
    color: #f3c300;
    font-family: Arial, Helvetica, sans-serif;
}

.Play-Time {
    background-color: black;
    color: #00Ac9f;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #003791;
    color: black;
    font-size: 20px;
}